<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min2.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>
<body style="overflow-x: hidden; 
             margin: 0px;
             font-family: 'Helvetica Neue,Helvetica,Arial,sans-serif;';
             font-size: 14px;
             line-height: 1.42857143;
             color: #333;">
        <div>
            <div>
                <!-- Begin Banner -->
                <div>
                    <header class="" style="background-color: #2c343b;
                                            height: 133px; 
                                            color: white; 
                                            padding: 5px; 
                                            padding-left:15px;
                                            padding-right:15px;
                                            text-align: left; 
                                            margin-top: -100px;">
                        <a href="#" >
                        <img  src="~/images/logo_teste.png" width="450" height="80" 
                                                            style="margin-left:100px; 
                                                                   margin-top: 20px;"/></a>
                        <a><img  src="~/images/PC.png"             width="250" height="80" 
                                                            style="margin-left:400px; 
                                                                   margin-top: 10px;"/></a>
                    </header>
                </div>
            </div>
            <!-- End Banner -->

            <!-- Begin NavBar -->
            <div class="nav" style="background-color:#fff;">
                @*<input type="checkbox" id="nav-check">
                <div class="nav-header">
                    <div class="nav-title">
                       
                    </div>
                </div>
                <div class="nav-btn">
                    <label for="nav-check">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>*@

                <div class="nav-links">
                    <ul>
                        <li><a href="#"><i class="glyphicon glyphicon-home" style="font-size:20px;color:#D4A017"></i>
                                        </a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-book" style="font-size:20px;color:#D4A017"></i>
                                        Caderno de Edu. Finan</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-film" style="font-size:20px;color:#D4A017"></i>
                                        Vídeos</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-th-list" style="font-size:20px;color:#D4A017"></i>
                                        Legislação</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-usd" style="font-size:20px;color:#D4A017"></i>
                                        Comparador Crédito</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-envelope" style="font-size:20px;color:#D4A017"></i>
                                Fale Connosco</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-info-sign" style="font-size:20px;color:#D4A017"></i>
                                FAQ´s</a></li>
                    </ul>
                </div>
            </div>
            <!-- End NavBar -->
            
            <!-- Begin SlideShow -->

            @*<div class="w3-content w3-display-container">

                <div class="w3-display-container mySlides">
                    <img src="~/images/ti.jpg" style="width:100%">
                    <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                        
                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img src="~/images/uefa.jpg" style="width:100%">
                    <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                       
                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img src="~/images/rede.jpg" style="width:100%">
                    <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">

                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img src="~/images/planeta.jpg" style="width:100%">
                    <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">

                    </div>
                </div>

                <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

            </div>*@


            <!-- Begin SlideShow -->

            <section class="home">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="background-image:url('../../images/consumidor1.jpg')">
                            </div>
                            <div class="carousel-item" style="background-image:url('../../images/consumidor2.jpg')">
                            </div>
                            <div class="carousel-item" style="background-image:url('../../images/consumidor3.jpg')">
                            </div>
                            <div class="carousel-item" style="background-image:url('../../images/consumidor4.jpg')">
                            </div>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="height:300px;margin-top:25px;">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="height:300px;margin-top:25px;">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>

            <!-- End SlideShow -->

            <div class="container">
                <div class="row">

                    @RenderBody()

                </div>
            </div>

        <!-- Begin footer -->
            
        <footer class="myfooter navbar-bottom" style="text-align:justify;
                                                            padding-top:50px;
                                                            height:260px;">
               <div class="row" style="margin-left:50px;">
                <div class="col-sm-3">
                    <h3 class="footer-widget-title" style="font-family: Roboto Condensed;
                                                           font-size: 17px;
                                                           color: #a8a8a8;
                                                           font-weight: 500;
                                                           text-transform: uppercase;">LINKS RÁPIDOS</h3>
                    <ul class="list-unstyled">
                        <li><a href="/Upload/Documentos/Gabinete_Governador/Lei_organica.pdf"  style="text-decoration:none;
                                                                                               color:#FFFFFF; transition: all .25s ease;
                                                                                               font-family: Roboto Condensed;
                                                                                               font-size: 14px;
                                                                                               line-height: 1.75em;">Lei Orgânica do Banco Central</a></li>
                        <li><a href="/upload/NAP/Dr_n.9.92.pdf" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Lei de Instituições Financeiras</a></li>
                        <li><a href="/Upload/Lei_Cambial.pdf" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Lei Câmbial de S.Tomé e Príncipe</a></li>
                        <li><a href="/Instituicoes-Financeiras-Detalhes?cod=BAN" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Bancos Comerciais</a></li>
                        <li><a href="/Instituicoes-Financeiras-Detalhes?cod=SEG" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Empresas de Seguro</a></li>
                        <li><a href="/Legislacoes-e-Normas" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;" >Normas de Aplicação Permanente (NAP)</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3 class="footer-widget-title" style="font-family: Roboto Condensed;
                                                           font-size: 17px;
                                                           color: #a8a8a8;
                                                           font-weight: 500;
                                                           text-transform: uppercase;">OUTROS LINKS</h3>
                    <ul class="list-unstyled ">
                        <li><a href="https://www.bcplp.org/pt-PT/Paginas/PaginaInicial.aspx" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Bancos Centrais CPLP</a></li>
                        <li><a href="http://www.afdb.org/en/" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Banco Africano de Desenvolvimento</a></li>
                        <li><a href="http://www.worldbank.org/" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Banco Mundial</a></li>
                        <li><a href="https://www.bcplp.org/pt-PT/Paginas/PaginaInicial.aspx" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Portal dos Bancos Centrais da CPLP</a></li>
                        <li><a href="http://www.imf.org/external/index.htm" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Fundo Monetário Internacional</a></li>
                        <li><a href="http://www.min-financas.st/index.php/pt/" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Ministério das Finanças e Administração Pública</a></li>
                    </ul>
                 </div>
                   <div class="col-sm-3">
                       <style> .footer-widget-title a:hover{
     color:red;
 }</style>
                       <h3 class="footer-widget-title" style="font-family: Roboto Condensed;
                                                           font-size: 17px;
                                                           color: #a8a8a8;
                                                           font-weight: 500;
                                                           text-transform: uppercase;">ATENDIMENTO E RECLAMAÇÕES</h3>
                       <ul class="list-unstyled ">
                           <li><a href="/Banco-Central?x=nOZQcukXrfCzBSX7Xc3odA==&amp;&amp;z=4jr8pJAunGWrld1iEMvPfA==" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Caderno de Educação Financeira</a></li>
                           <li><a href="/Reclamacoes" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Ficha de Reclamação</a></li>
                       </ul>
                   </div>
                   <div class="col-sm-3">
                       <h3 class="footer-widget-title" style="font-family: Roboto Condensed;
                                                           font-size: 17px;
                                                           color: #a8a8a8;
                                                           font-weight: 500;
                                                           text-transform: uppercase;">RELATÓRIOS</h3>
                       <ul class="list-unstyled ">
                           <li><a href="/Banco-Central-STome-Principe?y=er3XsfhwD%2Bbaw7zrGqewmQ==" style="color: #FFFFFF;
                                                                                                    text-decoration: none;
                                                                                                    transition: all .25s ease;
                                                                                                    font-family: Roboto Condensed;">Boletins Estatísticos Economicos</a></li>

                           <li><a href="/Banco-Central-STome-Principe?y=pwDonccsFFyTxv1%2b3AKbZw%3d%3d" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Relatórios Anuais do Banco Central</a></li>
                           <li><a href="/Banco-Central-STome-Principe?y=aSBJBPuYFJtD8Y95HcozdA==" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Boletim Mensal</a></li>
                           <li><a href="/Banco-Central-STome-Principe?y=xl/HxAP4DCs6THGZd2Tu1A==" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Relatórios de Conta Anuais do Banco Central</a></li>
                           <li><a href="/Banco-Central-STome-Principe?y=V5lT5m1UK8ZHY0bSnTWncg==" style="text-decoration:none;color:#FFFFFF;font-family: Roboto Condensed;">Relatórios de Conta Auditoria Externa</a></li>
                       </ul>
                   </div>
                </div>
           
            <div class="subfooter" style="color:white;
                                          text-align:center;
                                          margin-top:18px;
                                          font-weight:bold;
                                          height:55px;">
                <span>© 2022 - Portal do Consumidor.</span>
                <span>Todos os direitos reservados.</span>
            </div>
        </footer>
        <!-- End footer-->
        <script src="~/jquery.min.js"></script>
        <script src="~/bootstrap.min.js"></script>
        <script src="~/Content/bootstrap.bundle.min.js"></script>
        </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
          showDivs(slideIndex += n);
        }

        function showDivs(n) {
         var slideIndex = 0;
        carousel();

        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          slideIndex++;
          if (slideIndex > x.length) {slideIndex = 1}
          x[slideIndex-1].style.display = "block";
          setTimeout(carousel, 4000);
        }
        }
   </script>
    <script>

        $('.carousel').carousel({
            interval: 2000
        })

    </script>
</body>
</html>
