
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="" style="background-color:#0094ff; 
                                     height:250px; 
                                     color: white;
                                     padding:10px;
                                     text-align:center;
                                     margin-top:-20px;"><h2>SlideShow</h2>
</div>

<div class="" style="background-color:darkorange;
                                     height:150px;
                                     color: white;
                                     padding:10px;
                                     text-align:center;
                                     margin-top:-20px;">
    <h2>Lorem..Lorem...Lorem...Lorem...Lorem</h2>
</div>

<div class="" style="margin-left:60px;">
        <div class="col-md-3">
            <a href="#" class="navbar-brand">
                <img class="circulo" src="~/images/circulo.png" style="width:150px; margin-top:-8px" />
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="navbar-brand">
                <img class="circul2" src="~/images/circulo2.png" style="width:150px; margin-top:-8px" />
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="navbar-brand">
                <img class="circulo3" src="~/images/circulo3.png" style="width:150px; margin-top:-8px" />
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="navbar-brand">
                <img class="circulo4" src="~/images/circulo4.png" style="width:150px; margin-top:-8px;" />
            </a>
        </div>
</div>